*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    align-items: center;
}
 
.option{
    height: 40px;
    width: 100px;
    border: 2px solid red;
    
}

.width{
    width: auto;
}