* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html body {
    height: 100%;
    width: 100%;
    background-color: rgb(4, 4, 94);
}

#pqr img {
    height: 582px;
    width: 333px;
    background-color: pink;
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 40%;
    margin-right: auto;

}

#btn button{
    color: black;
    background-color: white;
    color: rgb(10, 7, 7);
    background-color: white;
    padding: 7px 15px;
    margin-bottom: 50%;
    margin-left: 20%;
    /* margin-bottom: 100%; */
    /* left: 0; */

}